<footer class="footer bg-info">
    <div class="container">
      <span class="text-muted">&copy; 2020 MyCompany.com</span>
    </div>
  </footer>
  <style>
    html {
    position: relative;
    min-height: 100vh;
    }
    body {
    margin-bottom: 60px;
    }
    a:link {
        text-decoration: none;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
    .jumbotron {
        background-image: url('skyline.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    } 
    h1, .lead {
        color: #fff;
    }
    .btn-primary {
        background: #1096fc;
        border: 0;
    }
  </style>
</html>