<%- include('header'); -%>
<body>
    <%- include('navbar'); -%>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
         <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
           <h1 class="display-5">My Company.com</h1>
           <p class="lead">Welcome to my company.  We'll be adding and viewing some employees...and...stuff.</p>
           <p class="lead">
            <a class="btn btn-primary btn-lg">Learn more</a>
           </p>
          </div>
         </div>
        </div>
       </div>
    <p class="p-3">Michael was having brunch with Sally Sitwell at a restaurant called Skip Church's Bistro. In addition to brunch, the restaurant was known for an item on the menu called the "Skip's Scramble", an omelet that contained everything on the menu. Do not order the Skip's Scramble. Fun and failure both start out the same way. I'M A MONSTER!! Can you believe that the only reason the club is going under is because it's in a terrifying neighborhood? And I wouldn't just lie there, if that's what you're thinking. That's not what I WAS thinking. I've used one adjective to describe myself. What is it?</p>
</body>

<%- include('footer'); -%>
